@import "./mixin";

.customForm {
    :global {
        .ant-form-item {
            .ant-form-item-row {
                flex-direction: column;

                .ant-form-item-label {
                    text-align: left;
                }
            }

            &:nth-child(1) {
                width: 70%;

                @include for-phone-only {
                    width: 100%;
                }
            }

            &:nth-child(2) {
                width: 20%;

                @include for-phone-only {
                    width: 100%;
                }
            }

            &:nth-child(3) {
                label {
                    opacity: 0;
                }

                @include for-phone-only {
                    label {
                        display: none;
                    }
                }
            }

            &.ant-form-item-has-error {
                margin-bottom: 0 !important;
            }

            button {
                @include for-phone-only {
                    width: 100%;
                }
            }

            @include for-phone-only {
                width: 100%;
            }
        }
    }
}

.customFilter {
    background: #f1f4ff;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0 !important;

    :global {
        .ant-input {
            margin-left: 25px;
        }
        .ant-input-suffix {
            position: absolute;
            left: 5px;
            top: 8px;

            .anticon {
                svg {
                    fill: #969999;
                }
            }
        }

        .ant-col-xs-24 {
            @include for-phone-only {
                &:nth-child(1) {
                    margin-bottom: 10px;
                }
            }
        }
    }
}
