.customForm {
    :global {
        .ant-form-item {
            .ant-form-item-row {
                flex-direction: column;

                .ant-form-item-label {
                    text-align: left;
                }
            }

            &:nth-child(1) {
                width: 70%;
            }

            &:nth-child(2) {
                width: 20%;
            }

            &:nth-child(3) {
                display: flex;
                align-items: flex-end;
                width: 5%;
            }

            &.ant-form-item-has-error {
                margin-bottom: 0 !important;
            }
        }
    }
}
