.footer {
    margin-top: auto;

    .content {
        background: #f5f5f5;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
