.new-job {
    overflow: hidden;

    p {
        color: #757575;
        font-size: 15px;
        margin-bottom: 5px;
    }

    .title {
        font-weight: bold;
        letter-spacing: -0.25px;
        margin: 20px 0 10px 0;
    }

    .list-head {
        margin-top: 25px;
        font-weight: bolder;
        font-size: 18px;
        letter-spacing: -0.5px;
    }

    :global {
        .ant-input {
            border-radius: 5px;
        }

        .ant-select {
            width: 100%;
            border-radius: 5px;

            .ant-select-selection-placeholder {
                color: rgba(0, 0, 0, 0.85);
            }
        }

        .ant-table-wrapper {
            .ant-table-content {
                border: 1px solid #e4eafd;
                border-top: none;

                .ant-table-thead {
                    > tr {
                        > th {
                            background: #e4eafd;
                            color: #76777a;
                            font-weight: bolder;
                            padding-top: 5px;
                            padding-bottom: 5px;
                            font-size: 14px;

                            &::before {
                                content: none !important;
                            }
                        }
                    }
                }

                .ant-table-tbody {
                    .ant-btn-primary {
                        color: #757575;
                        border-color: #e8e8e8;
                        background: #e8e8e8;
                    }
                }
            }
        }
    }
}